﻿@import "../../components/components-font-awesome/less/font-awesome.less";
@import "../../components/bootstrap/less/bootstrap.less";

.nav, .pagination, .carousel, .panel-title a {
     cursor: pointer;
}

.top-50 {
    margin-top: 50px;
}

.grid-xs-centered {
    .make-xs-column(12);
    .make-xs-column-offset(0);
}

.grid-md-centered {
    .make-md-column(6);
    .make-md-column-offset(3);
}

.grid-lg-centered {
    .make-lg-column(4);
    .make-lg-column-offset(4);
}

.grid-centered {
    .grid-xs-centered;
    .grid-md-centered;
    .grid-lg-centered;
}