﻿<?xml version="1.0" encoding="utf-8" ?>
<div id="searchResList">
    <script type="text/javascript">
        var selOptions = new Object();
        var passPrices = new Object();
        offersLoaded = true;

        function shareOffer(type, url, opener) {
            switch (type) {
                case 0:
                    openw('https://aviago.by/includes/twitter.php?url=' + escape(url), '', '');
                    break;
                case 1:
                    openw('http://www.facebook.com/sharer.php?t=Pasiūlymai iš AviaGO.by: &u=' + escape(url), '', '');
                    break;
                case 2:
                    $(".emailShareForm").empty();
                    var box = $('<div style="display:none; position:absolute;" class="white_block" align="left"/>');
                    box.append('<div align="right"><img src="https://avia.lt/images/close.gif" style="cursor:pointer;" onclick="$(this).parent().parent().fadeOut();" alt="Закрыть" title="Закрыть"/></div>')
                    var form = '<form action="includes/share_by_email.php" method="post">';
                    form += '<div class="shareMessages"></div>';
                    form += '<strong>El. paštas:</strong><p><input type="text" name="email" value="" style="width:210px"/>';
                    form += '<p><strong>Сообщение:</strong><p>';
                    form += '<textarea name="message" rows="4" style="width:210px"/>';
                    form += '<input type="hidden" name="url" value="' + url + '"/>';
                    form += '<div align="right"><div class="btn2"><div align="left"><div align="left"><a href="JavaScript:void(1);" onClick="AjaxSubmitForm($(this).closest(\'form\')[0],$(this).closest(\'form\').find(\'.shareMessages\')[0],$(this).closest(\'form\').find(\'.shareMessages\')[0]);" class="button2Txt" title="Выслать">Выслать</a></div></div></div>	</div>';
                    form += '</form>';
                    box.append(form).css({ top: "-10px", zIndex: getHighestZ() + 1 });
                    $(opener).closest(".shareButton").find(".emailShareForm").html(box);
                    //addPIE();
                    box.fadeIn();
            }
        }
</script>

    <form name="mainform_1pbvij08st1zdxcrkwywgcw96bsa" id="mainform_1pbvij08st1zdxcrkwywgcw96bsa" method="post" action="flight_details/?session=" style="margin-bottom: 16px;">
        <div class="white_block" style="padding: 10px 16px 4px 16px;">
            <div>
                <div class="offerPriceDiv">
                    <div style="float: left; width: 350px;">
                        <div class="offerPrice">65,44<span style="font-size: 20px"> €</span><div class="smaller"></div>
                        </div>
                        <div style="float: left; padding-top: 18px;"><span class="smaller">1 чел. с налогами/сборами</span></div>
                    </div>
                    <div class="priceTxt" style="padding-top: 13px;">
                        <div><span><a href="JavaScript:void(0);" onclick="openClose('more_1pbvij08st1zdxcrkwywgcw96bsa','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><span>общая сумма в деталях</span></a><a href="JavaScript:void(0);" onclick="openClose('more_1pbvij08st1zdxcrkwywgcw96bsa','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><img src="https://avia.lt/images/next.png" style="vertical-align: -7px;"></a></span></div>
                    </div>
                </div>
                <div style="clear: both; position: relative;">
                    <div id="more_1pbvij08st1zdxcrkwywgcw96bsa" style="display: none; position: relative; padding-top: 8px">
                        <div class="roundborder passengersPricesTable smaller">
                            <table border="0" cellpadding="2" width="100%" cellspacing="0" style="position: relative;">
                                <tr>
                                    <th align="center"><strong>пассажир</strong></th>
                                    <th align="center"><strong>Тариф</strong></th>
                                    <th align="center"><strong>Сборы</strong></th>
                                    <th align="center"><strong>Всего для пассажира</strong></th>
                                </tr>
                                <tr>
                                    <td height="1" colspan="4">
                                        <div style="border-top: 1px solid #DDDDDD; height: 1px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"><strong>Пассажир №: 1</strong> (взрослый)</td>
                                    <td align="center" id="passPr1-0-1pbvij08st1zdxcrkwywgcw96bsa"><span class="priceInCurr" initval="49">49,00</span>  <span class="currDisp">€</span></td>
                                    <td align="center"><span class="priceInCurr"><span class="priceInCurr" initval="16.44">16,44</span>  <span class="currDisp">€</span> (<em>0</em>)</span></td>
                                    <td align="center" id="passPr3-0-1pbvij08st1zdxcrkwywgcw96bsa"><strong><span class="priceInCurr" initval="65.44">65,44</span>  <span class="currDisp">€</span></strong></td>
                                </tr>
                                <script type="text/javascript">passPrices["1pbvij08st1zdxcrkwywgcw96bsa"] = [[49, 16.44]];</script>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="margin-top: 4px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                            <div style="margin-bottom: 6px;" align="right">
                                <img src="https://avia.lt/images/plane.gif" align="absmiddle">
                                8.7.2015</div>
                            <div id="segment1pbvij08st1zdxcrkwywgcw96bsa_1pbvij08st1zdxcrkwywgcw96bsa-0-0" class="roundborder segment segmentSelected">
                                <div style="padding: 0 8px 0 8px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="24" align="center">
                                                <input name="outCheckBox" type="radio" disabled="disabled" checked="checked"><input type="hidden" name="out" value="1pbvij08st1zdxcrkwywgcw96bsa-0-0">
                                            </td>
                                            <td align="center" valign="middle" width="96" class="dline_vert">
                                                <div style="margin-bottom: 4px;">
                                                    <img src="get_logo.php?airline=B2&size=60" title="Belavia" alt="Belavia"></div>
                                                <div class="small">B2 943</div>
                                                <div style="font-size: 11px;" align="center">только <strong style="color: #dd360a;">2 места</strong></div>
                                            </td>
                                            <td valign="top" align="left" class="dline_vert" width="280">
                                                <div style="padding-left: 8px; width: 123px; float: left;">
                                                    <div class="offerTime">22:55</div>
                                                    <div class="small">отбытие</div>
                                                    <div class="offerCity">Минск</div>
                                                    <div class="small">Minsk International 2</div>
                                                </div>
                                                <div align="left" style="padding-left: 6px; width: 123px; float: left;">
                                                    <div class="offerTime">00:10 <strong><span class="red smaller">(+1 д.)</span></strong></div>
                                                    <div class="small">прибытие</div>
                                                    <div class="offerCity">Saint Petersburg</div>
                                                    <div class="small">Pulkovo</div>
                                                </div>
                                            </td>
                                            <td width="176" align="left" valign="top" style="padding-left: 6px;" class="dline_vert">
                                                <div class="offerTime">1 ч 15 мин</div>
                                                <div class="small">Продолжительность</div>
                                                <div class="small" style="margin-top: 4px;">Без пересадок </div>
                                            </td>
                                            <td style="padding-left: 6px;" class="small">Включен регистрируемый багаж:<br>
                                                <strong>1 x 20 кг/чел.</strong><a href="javascript:void(0);" title="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."><img src="images/qm.png" border="0" alt="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="payBefore">Оплатить до : <strong>9.6.2015, 19:00</strong> </div>
                <div style="float: right; position: relative; right: -14px;">
                    <div class="shareButton">
                        Поделиться
         
                        <div align="center">
                            <div class="emailShareForm" style="position: relative;"></div>
                            <a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(0,'https://aviago.by/search_results/MSQ-LED/2015-07-08/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=xpqvy06hixjbf6egiq1xmb6smjqtw926b6piay0');" title="Поделиться на Twitter">
                                <img src="images/share/twitter.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(1,'https://aviago.by/search_results/MSQ-LED/2015-07-08/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=xpqvy06hixjbf6egiq1xmb6smjqtw926b6piay0');" title="Поделиться на Facebook"><img src="images/share/facebook.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(2,'https://aviago.by/search_results/MSQ-LED/2015-07-08/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=xpqvy06hixjbf6egiq1xmb6smjqtw926b6piay0',this);" title="Поделиться через эл. почту"><img src="images/share/email.gif"></a>
                        </div>
                    </div>
                    <div style="float: left;">
                        <div class="button" onclick="submitGroupedForm('1pbvij08st1zdxcrkwywgcw96bsa');" style="font-size: 18px;">Выбрать</div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <input type="hidden" name="fare_id" value="1pbvij08st1zdxcrkwywgcw96bsa">
        <input type="hidden" name="ltt" value="2015-06-09, 19:00">
    </form>

    <form name="mainform_m51sflh72d9x5uanyzlwb8c2g5mtlq" id="mainform_m51sflh72d9x5uanyzlwb8c2g5mtlq" method="post" action="flight_details/?session=" style="margin-bottom: 16px;">
        <div class="white_block" style="padding: 10px 16px 4px 16px;">
            <div>
                <div class="offerPriceDiv">
                    <div style="float: left; width: 350px;">
                        <div class="offerPrice">65,44<span style="font-size: 20px"> €</span><div class="smaller"></div>
                        </div>
                        <div style="float: left; padding-top: 18px;"><span class="smaller">1 чел. с налогами/сборами</span></div>
                    </div>
                    <div class="priceTxt" style="padding-top: 13px;">
                        <div><span><a href="JavaScript:void(0);" onclick="openClose('more_m51sflh72d9x5uanyzlwb8c2g5mtlq','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><span>общая сумма в деталях</span></a><a href="JavaScript:void(0);" onclick="openClose('more_m51sflh72d9x5uanyzlwb8c2g5mtlq','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><img src="https://avia.lt/images/next.png" style="vertical-align: -7px;"></a></span></div>
                    </div>
                </div>
                <div style="clear: both; position: relative;">
                    <div id="more_m51sflh72d9x5uanyzlwb8c2g5mtlq" style="display: none; position: relative; padding-top: 8px">
                        <div class="roundborder passengersPricesTable smaller">
                            <table border="0" cellpadding="2" width="100%" cellspacing="0" style="position: relative;">
                                <tr>
                                    <th align="center"><strong>пассажир</strong></th>
                                    <th align="center"><strong>Тариф</strong></th>
                                    <th align="center"><strong>Сборы</strong></th>
                                    <th align="center"><strong>Всего для пассажира</strong></th>
                                </tr>
                                <tr>
                                    <td height="1" colspan="4">
                                        <div style="border-top: 1px solid #DDDDDD; height: 1px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"><strong>Пассажир №: 1</strong> (взрослый)</td>
                                    <td align="center" id="passPr1-0-m51sflh72d9x5uanyzlwb8c2g5mtlq"><span class="priceInCurr" initval="49">49,00</span>  <span class="currDisp">€</span></td>
                                    <td align="center"><span class="priceInCurr"><span class="priceInCurr" initval="16.44">16,44</span>  <span class="currDisp">€</span> (<em>0</em>)</span></td>
                                    <td align="center" id="passPr3-0-m51sflh72d9x5uanyzlwb8c2g5mtlq"><strong><span class="priceInCurr" initval="65.44">65,44</span>  <span class="currDisp">€</span></strong></td>
                                </tr>
                                <script type="text/javascript">passPrices["m51sflh72d9x5uanyzlwb8c2g5mtlq"] = [[49, 16.44]];</script>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="margin-top: 4px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                            <div style="margin-bottom: 6px;" align="right">
                                <img src="https://avia.lt/images/plane.gif" align="absmiddle">
                                8.7.2015</div>
                            <script type="text/javascript">
                                selOptions["m51sflh72d9x5uanyzlwb8c2g5mtlq-out"] = "m51sflh72d9x5uanyzlwb8c2g5mtlq-0-0";
			</script>
                            <div id="segmentm51sflh72d9x5uanyzlwb8c2g5mtlq_m51sflh72d9x5uanyzlwb8c2g5mtlq-0-0" style="cursor: pointer;" onclick="setFlightOption('out','m51sflh72d9x5uanyzlwb8c2g5mtlq-0-0','m51sflh72d9x5uanyzlwb8c2g5mtlq');" class="roundborder segment segmentSelected sugmentMulti">
                                <div style="padding: 0 8px 0 8px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="24" align="center">
                                                <input name="out" type="radio" value="m51sflh72d9x5uanyzlwb8c2g5mtlq-0-0" checked="checked">
                                            </td>
                                            <td align="center" valign="middle" width="96" class="dline_vert">
                                                <div style="margin-bottom: 4px;">
                                                    <img src="get_logo.php?airline=B2&size=60" title="Belavia" alt="Belavia"></div>
                                                <div class="small">B2 941</div>
                                                <div style="font-size: 11px;" align="center">только <strong style="color: #dd360a;">7 мест</strong></div>
                                            </td>
                                            <td valign="top" align="left" class="dline_vert" width="280">
                                                <div style="padding-left: 8px; width: 123px; float: left;">
                                                    <div class="offerTime">08:35</div>
                                                    <div class="small">отбытие</div>
                                                    <div class="offerCity">Минск</div>
                                                    <div class="small">Minsk International 2</div>
                                                </div>
                                                <div align="left" style="padding-left: 6px; width: 123px; float: left;">
                                                    <div class="offerTime">09:50</div>
                                                    <div class="small">прибытие</div>
                                                    <div class="offerCity">Saint Petersburg</div>
                                                    <div class="small">Pulkovo</div>
                                                </div>
                                            </td>
                                            <td width="176" align="left" valign="top" style="padding-left: 6px;" class="dline_vert">
                                                <div class="offerTime">1 ч 15 мин</div>
                                                <div class="small">Продолжительность</div>
                                                <div class="small" style="margin-top: 4px;">Без пересадок </div>
                                            </td>
                                            <td style="padding-left: 6px;" class="small">Включен регистрируемый багаж:<br>
                                                <strong>1 x 20 кг/чел.</strong><a href="javascript:void(0);" title="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."><img src="images/qm.png" border="0" alt="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div id="segmentm51sflh72d9x5uanyzlwb8c2g5mtlq_m51sflh72d9x5uanyzlwb8c2g5mtlq-0-1" style="cursor: pointer;" onclick="setFlightOption('out','m51sflh72d9x5uanyzlwb8c2g5mtlq-0-1','m51sflh72d9x5uanyzlwb8c2g5mtlq');" class="roundborder segment sugmentMulti">
                                <div style="padding: 0 8px 0 8px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="24" align="center">
                                                <input name="out" type="radio" value="m51sflh72d9x5uanyzlwb8c2g5mtlq-0-1">
                                            </td>
                                            <td align="center" valign="middle" width="96" class="dline_vert">
                                                <div style="margin-bottom: 4px;">
                                                    <img src="get_logo.php?airline=B2&size=60" title="Belavia" alt="Belavia"></div>
                                                <div class="small">B2 939</div>
                                                <div style="font-size: 11px;" align="center">только <strong style="color: #dd360a;">7 мест</strong></div>
                                            </td>
                                            <td valign="top" align="left" class="dline_vert" width="280">
                                                <div style="padding-left: 8px; width: 123px; float: left;">
                                                    <div class="offerTime">12:50</div>
                                                    <div class="small">отбытие</div>
                                                    <div class="offerCity">Минск</div>
                                                    <div class="small">Minsk International 2</div>
                                                </div>
                                                <div align="left" style="padding-left: 6px; width: 123px; float: left;">
                                                    <div class="offerTime">14:05</div>
                                                    <div class="small">прибытие</div>
                                                    <div class="offerCity">Saint Petersburg</div>
                                                    <div class="small">Pulkovo</div>
                                                </div>
                                            </td>
                                            <td width="176" align="left" valign="top" style="padding-left: 6px;" class="dline_vert">
                                                <div class="offerTime">1 ч 15 мин</div>
                                                <div class="small">Продолжительность</div>
                                                <div class="small" style="margin-top: 4px;">Без пересадок </div>
                                            </td>
                                            <td style="padding-left: 6px;" class="small">Включен регистрируемый багаж:<br>
                                                <strong>1 x 20 кг/чел.</strong><a href="javascript:void(0);" title="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."><img src="images/qm.png" border="0" alt="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="payBefore">Оплатить до : <strong>9.6.2015, 19:00</strong> </div>
                <div style="float: right; position: relative; right: -14px;">
                    <div class="shareButton">
                        Поделиться
         
                        <div align="center">
                            <div class="emailShareForm" style="position: relative;"></div>
                            <a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(0,'https://aviago.by/search_results/MSQ-LED/2015-07-08/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=hjva2tkt7uj9wik18qqft932pvemu4pmgjggkpla');" title="Поделиться на Twitter">
                                <img src="images/share/twitter.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(1,'https://aviago.by/search_results/MSQ-LED/2015-07-08/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=hjva2tkt7uj9wik18qqft932pvemu4pmgjggkpla');" title="Поделиться на Facebook"><img src="images/share/facebook.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(2,'https://aviago.by/search_results/MSQ-LED/2015-07-08/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=hjva2tkt7uj9wik18qqft932pvemu4pmgjggkpla',this);" title="Поделиться через эл. почту"><img src="images/share/email.gif"></a>
                        </div>
                    </div>
                    <div style="float: left;">
                        <div class="button" onclick="submitGroupedForm('m51sflh72d9x5uanyzlwb8c2g5mtlq');" style="font-size: 18px;">Выбрать</div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <input type="hidden" name="fare_id" value="m51sflh72d9x5uanyzlwb8c2g5mtlq">
        <input type="hidden" name="ltt" value="2015-06-09, 19:00">
    </form>

    <form name="mainform_tka03y4mybkw5jr92sfdx7a59y7m9t" id="mainform_tka03y4mybkw5jr92sfdx7a59y7m9t" method="post" action="flight_details/?session=" style="margin-bottom: 16px;">
        <div class="white_block" style="padding: 10px 16px 4px 16px;">
            <div>
                <div class="offerPriceDiv">
                    <div style="float: left; width: 350px;">
                        <div class="offerPrice">108,44<span style="font-size: 20px"> €</span><div class="smaller"></div>
                        </div>
                        <div style="float: left; padding-top: 18px;"><span class="smaller">1 чел. с налогами/сборами</span></div>
                    </div>
                    <div class="priceTxt" style="padding-top: 13px;">
                        <div><span><a href="JavaScript:void(0);" onclick="openClose('more_tka03y4mybkw5jr92sfdx7a59y7m9t','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><span>общая сумма в деталях</span></a><a href="JavaScript:void(0);" onclick="openClose('more_tka03y4mybkw5jr92sfdx7a59y7m9t','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><img src="https://avia.lt/images/next.png" style="vertical-align: -7px;"></a></span></div>
                    </div>
                </div>
                <div style="clear: both; position: relative;">
                    <div id="more_tka03y4mybkw5jr92sfdx7a59y7m9t" style="display: none; position: relative; padding-top: 8px">
                        <div class="roundborder passengersPricesTable smaller">
                            <table border="0" cellpadding="2" width="100%" cellspacing="0" style="position: relative;">
                                <tr>
                                    <th align="center"><strong>пассажир</strong></th>
                                    <th align="center"><strong>Тариф</strong></th>
                                    <th align="center"><strong>Сборы</strong></th>
                                    <th align="center"><strong>Всего для пассажира</strong></th>
                                </tr>
                                <tr>
                                    <td height="1" colspan="4">
                                        <div style="border-top: 1px solid #DDDDDD; height: 1px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"><strong>Пассажир №: 1</strong> (взрослый)</td>
                                    <td align="center" id="passPr1-0-tka03y4mybkw5jr92sfdx7a59y7m9t"><span class="priceInCurr" initval="92">92,00</span>  <span class="currDisp">€</span></td>
                                    <td align="center"><span class="priceInCurr"><span class="priceInCurr" initval="16.44">16,44</span>  <span class="currDisp">€</span> (<em>0</em>)</span></td>
                                    <td align="center" id="passPr3-0-tka03y4mybkw5jr92sfdx7a59y7m9t"><strong><span class="priceInCurr" initval="108.44">108,44</span>  <span class="currDisp">€</span></strong></td>
                                </tr>
                                <script type="text/javascript">passPrices["tka03y4mybkw5jr92sfdx7a59y7m9t"] = [[92, 16.44]];</script>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="margin-top: 4px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                            <div style="margin-bottom: 6px;" align="right">
                                <img src="https://avia.lt/images/plane.gif" align="absmiddle">
                                8.7.2015</div>
                            <div id="segmenttka03y4mybkw5jr92sfdx7a59y7m9t_tka03y4mybkw5jr92sfdx7a59y7m9t-0-0" class="roundborder segment segmentSelected">
                                <div style="padding: 0 8px 0 8px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="24" align="center">
                                                <input name="outCheckBox" type="radio" disabled="disabled" checked="checked"><input type="hidden" name="out" value="tka03y4mybkw5jr92sfdx7a59y7m9t-0-0">
                                            </td>
                                            <td align="center" valign="middle" width="96" class="dline_vert">
                                                <div style="margin-bottom: 4px;">
                                                    <img src="get_logo.php?airline=B2&size=60" title="Belavia" alt="Belavia"></div>
                                                <div class="small">B2 945</div>
                                                <div style="font-size: 11px;" align="center">только <strong style="color: #dd360a;">7 мест</strong></div>
                                            </td>
                                            <td valign="top" align="left" class="dline_vert" width="280">
                                                <div style="padding-left: 8px; width: 123px; float: left;">
                                                    <div class="offerTime">17:35</div>
                                                    <div class="small">отбытие</div>
                                                    <div class="offerCity">Минск</div>
                                                    <div class="small">Minsk International 2</div>
                                                </div>
                                                <div align="left" style="padding-left: 6px; width: 123px; float: left;">
                                                    <div class="offerTime">18:50</div>
                                                    <div class="small">прибытие</div>
                                                    <div class="offerCity">Saint Petersburg</div>
                                                    <div class="small">Pulkovo</div>
                                                </div>
                                            </td>
                                            <td width="176" align="left" valign="top" style="padding-left: 6px;" class="dline_vert">
                                                <div class="offerTime">1 ч 15 мин</div>
                                                <div class="small">Продолжительность</div>
                                                <div class="small" style="margin-top: 4px;">Без пересадок </div>
                                            </td>
                                            <td style="padding-left: 6px;" class="small">Включен регистрируемый багаж:<br>
                                                <strong>1 x 20 кг/чел.</strong><a href="javascript:void(0);" title="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."><img src="images/qm.png" border="0" alt="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="payBefore">Оплатить до : <strong>9.6.2015, 19:00</strong> </div>
                <div style="float: right; position: relative; right: -14px;">
                    <div class="shareButton">
                        Поделиться
         
                        <div align="center">
                            <div class="emailShareForm" style="position: relative;"></div>
                            <a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(0,'https://aviago.by/search_results/MSQ-LED/2015-07-08/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=gvduxlr4ab1eskkv92iuyzza0lag030wfjx98');" title="Поделиться на Twitter">
                                <img src="images/share/twitter.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(1,'https://aviago.by/search_results/MSQ-LED/2015-07-08/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=gvduxlr4ab1eskkv92iuyzza0lag030wfjx98');" title="Поделиться на Facebook"><img src="images/share/facebook.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(2,'https://aviago.by/search_results/MSQ-LED/2015-07-08/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=gvduxlr4ab1eskkv92iuyzza0lag030wfjx98',this);" title="Поделиться через эл. почту"><img src="images/share/email.gif"></a>
                        </div>
                    </div>
                    <div style="float: left;">
                        <div class="button" onclick="submitGroupedForm('tka03y4mybkw5jr92sfdx7a59y7m9t');" style="font-size: 18px;">Выбрать</div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <input type="hidden" name="fare_id" value="tka03y4mybkw5jr92sfdx7a59y7m9t">
        <input type="hidden" name="ltt" value="2015-06-09, 19:00">
    </form>
    <script type="text/javascript">
        var passPricesArr = [];
        var allPricesArr = [["1pbvij08st1zdxcrkwywgcw96bsa", 65.44], ["m51sflh72d9x5uanyzlwb8c2g5mtlq", 65.44], ["tka03y4mybkw5jr92sfdx7a59y7m9t", 108.44]];
</script>
    <script type="text/javascript">
        fromPrices = new Array();
        var journey = "oneway";

        function setFlightOption(option, val, key) {
            var elm = document.forms["mainform_" + key][option];
            if (!elm || !elm.length) return;
            selOptions[key + "-" + option] = val;
            for (var k = 0; k < elm.length; k++) {
                if (elm[k].value == val) {
                    $("#segment" + key + "_" + elm[k].value).addClass("segmentSelected");
                    elm[k].checked = true;
                } else {
                    $("#segment" + key + "_" + elm[k].value).removeClass("segmentSelected");
                }
                $(elm[k]).change();
            }
        }

        function submitGroupedForm(key) {
            //showWait();
            el("mainform_" + key).submit();
        }

        show("SRFilter");
        loadContent("includes/sr/filter.php?session=", "SRFilter", "SRFilter");
        try { vhide("filterCover"); } catch (e) { }
        $(".sugmentMulti").hover(function () { $(this).addClass("segmentOver"); }, function () { $(this).removeClass("segmentOver"); });
        hide("nooffersFound");
        setCoverSize();
        fixbtn();
        hideDialog("wait"); wrapSelect();
        $(document).ready(function (e) {
            cheapestPrice = 65.44;
            try { if (pricesTableLoaded) updateTablePrice(); } catch (e) { }
        });
</script>
</div>
<script type="text/javascript">
    var from = 31;
    function moreResults() {
        $("#loadingMoreOffers").show();
        $.get("includes/sr/offers_list.php", "lng=lt&rid=&session=&last=true&from=0&from=" + from, function (data) {
            $("#searchResList").append(data);
            $("#loadingMoreOffers").hide();
        }, 'html');
        from += 31;
        if (from >= 3) $("#moreOffersBtn").hide();
    }
</script>
