﻿<?xml version="1.0" encoding="utf-8" ?>
<div id="searchResList">
    <script type="text/javascript">
        var selOptions = new Object();
        var passPrices = new Object();
        offersLoaded = true;

        function shareOffer(type, url, opener) {
            switch (type) {
                case 0:
                    openw('https://aviago.by/includes/twitter.php?url=' + escape(url), '', '');
                    break;
                case 1:
                    openw('http://www.facebook.com/sharer.php?t=Pasiūlymai iš AviaGO.by: &u=' + escape(url), '', '');
                    break;
                case 2:
                    $(".emailShareForm").empty();
                    var box = $('<div style="display:none; position:absolute;" class="white_block" align="left"/>');
                    box.append('<div align="right"><img src="https://avia.lt/images/close.gif" style="cursor:pointer;" onclick="$(this).parent().parent().fadeOut();" alt="Закрыть" title="Закрыть"/></div>')
                    var form = '<form action="includes/share_by_email.php" method="post">';
                    form += '<div class="shareMessages"></div>';
                    form += '<strong>El. paštas:</strong><p><input type="text" name="email" value="" style="width:210px"/>';
                    form += '<p><strong>Сообщение:</strong><p>';
                    form += '<textarea name="message" rows="4" style="width:210px"/>';
                    form += '<input type="hidden" name="url" value="' + url + '"/>';
                    form += '<div align="right"><div class="btn2"><div align="left"><div align="left"><a href="JavaScript:void(1);" onClick="AjaxSubmitForm($(this).closest(\'form\')[0],$(this).closest(\'form\').find(\'.shareMessages\')[0],$(this).closest(\'form\').find(\'.shareMessages\')[0]);" class="button2Txt" title="Выслать">Выслать</a></div></div></div>	</div>';
                    form += '</form>';
                    box.append(form).css({ top: "-10px", zIndex: getHighestZ() + 1 });
                    $(opener).closest(".shareButton").find(".emailShareForm").html(box);
                    //addPIE();
                    box.fadeIn();
            }
        }
    </script>

    <form name="mainform_ze3fyj5j6hg1i6ww6xbgmmx06ih0" id="mainform_ze3fyj5j6hg1i6ww6xbgmmx06ih0" method="post" action="flight_details/?session=" style="margin-bottom: 16px;">
        <div class="white_block" style="padding: 10px 16px 4px 16px;">
            <div>
                <div class="offerPriceDiv">
                    <div style="float: left; width: 350px;">
                        <div class="offerPrice">65,44<span style="font-size: 20px"> €</span><div class="smaller"></div>
                        </div>
                        <div style="float: left; padding-top: 18px;"><span class="smaller">1 чел. с налогами/сборами</span></div>
                    </div>
                    <div class="priceTxt" style="padding-top: 13px;">
                        <div><span><a href="JavaScript:void(0);" onclick="openClose('more_ze3fyj5j6hg1i6ww6xbgmmx06ih0','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><span>общая сумма в деталях</span></a><a href="JavaScript:void(0);" onclick="openClose('more_ze3fyj5j6hg1i6ww6xbgmmx06ih0','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><img src="https://avia.lt/images/next.png" style="vertical-align: -7px;"></a></span></div>
                    </div>
                </div>
                <div style="clear: both; position: relative;">
                    <div id="more_ze3fyj5j6hg1i6ww6xbgmmx06ih0" style="display: none; position: relative; padding-top: 8px">
                        <div class="roundborder passengersPricesTable smaller">
                            <table border="0" cellpadding="2" width="100%" cellspacing="0" style="position: relative;">
                                <tr>
                                    <th align="center"><strong>пассажир</strong></th>
                                    <th align="center"><strong>Тариф</strong></th>
                                    <th align="center"><strong>Сборы</strong></th>
                                    <th align="center"><strong>Всего для пассажира</strong></th>
                                </tr>
                                <tr>
                                    <td height="1" colspan="4">
                                        <div style="border-top: 1px solid #DDDDDD; height: 1px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"><strong>Пассажир №: 1</strong> (взрослый)</td>
                                    <td align="center" id="passPr1-0-ze3fyj5j6hg1i6ww6xbgmmx06ih0"><span class="priceInCurr" initval="49">49,00</span>  <span class="currDisp">€</span></td>
                                    <td align="center"><span class="priceInCurr"><span class="priceInCurr" initval="16.44">16,44</span>  <span class="currDisp">€</span> (<em>0</em>)</span></td>
                                    <td align="center" id="passPr3-0-ze3fyj5j6hg1i6ww6xbgmmx06ih0"><strong><span class="priceInCurr" initval="65.44">65,44</span>  <span class="currDisp">€</span></strong></td>
                                </tr>
                                <script type="text/javascript">passPrices["ze3fyj5j6hg1i6ww6xbgmmx06ih0"] = [[49, 16.44]];</script>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="margin-top: 4px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                            <div style="margin-bottom: 6px;" align="right">
                                <img src="https://avia.lt/images/plane.gif" align="absmiddle">
                                11.7.2015</div>
                            <div id="segmentze3fyj5j6hg1i6ww6xbgmmx06ih0_ze3fyj5j6hg1i6ww6xbgmmx06ih0-0-0" class="roundborder segment segmentSelected">
                                <div style="padding: 0 8px 0 8px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="24" align="center">
                                                <input name="outCheckBox" type="radio" disabled="disabled" checked="checked"><input type="hidden" name="out" value="ze3fyj5j6hg1i6ww6xbgmmx06ih0-0-0">
                                            </td>
                                            <td align="center" valign="middle" width="96" class="dline_vert">
                                                <div style="margin-bottom: 4px;">
                                                    <img src="get_logo.php?airline=B2&size=60" title="Belavia" alt="Belavia"></div>
                                                <div class="small">B2 939</div>
                                                <div style="font-size: 11px;" align="center">только <strong style="color: #dd360a;">7 мест</strong></div>
                                            </td>
                                            <td valign="top" align="left" class="dline_vert" width="280">
                                                <div style="padding-left: 8px; width: 123px; float: left;">
                                                    <div class="offerTime">12:50</div>
                                                    <div class="small">отбытие</div>
                                                    <div class="offerCity">Минск</div>
                                                    <div class="small">Minsk International 2</div>
                                                </div>
                                                <div align="left" style="padding-left: 6px; width: 123px; float: left;">
                                                    <div class="offerTime">14:05</div>
                                                    <div class="small">прибытие</div>
                                                    <div class="offerCity">Saint Petersburg</div>
                                                    <div class="small">Pulkovo</div>
                                                </div>
                                            </td>
                                            <td width="176" align="left" valign="top" style="padding-left: 6px;" class="dline_vert">
                                                <div class="offerTime">1 ч 15 мин</div>
                                                <div class="small">Продолжительность</div>
                                                <div class="small" style="margin-top: 4px;">Без пересадок </div>
                                            </td>
                                            <td style="padding-left: 6px;" class="small">Включен регистрируемый багаж:<br>
                                                <strong>1 x 20 кг/чел.</strong><a href="javascript:void(0);" title="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."><img src="images/qm.png" border="0" alt="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="payBefore">Оплатить до : <strong>12.6.2015, 19:00</strong> </div>
                <div style="float: right; position: relative; right: -14px;">
                    <div class="shareButton">
                        Поделиться
          <div align="center">
              <div class="emailShareForm" style="position: relative;"></div>
              <a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(0,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=xx9lxhlkj1l3esrt8fzkvmun6kl5zb2pa8jz0h2p');" title="Поделиться на Twitter">
                  <img src="images/share/twitter.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(1,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=xx9lxhlkj1l3esrt8fzkvmun6kl5zb2pa8jz0h2p');" title="Поделиться на Facebook"><img src="images/share/facebook.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(2,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=xx9lxhlkj1l3esrt8fzkvmun6kl5zb2pa8jz0h2p',this);" title="Поделиться через эл. почту"><img src="images/share/email.gif"></a>
          </div>
                    </div>
                    <div style="float: left;">
                        <div class="button" onclick="submitGroupedForm('ze3fyj5j6hg1i6ww6xbgmmx06ih0');" style="font-size: 18px;">Выбрать</div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <input type="hidden" name="fare_id" value="ze3fyj5j6hg1i6ww6xbgmmx06ih0">
        <input type="hidden" name="ltt" value="2015-06-12, 19:00">
    </form>

    <form name="mainform_sda366axat1t4rbebd1309d6dyla1v" id="mainform_sda366axat1t4rbebd1309d6dyla1v" method="post" action="flight_details/?session=" style="margin-bottom: 16px;">
        <div class="white_block" style="padding: 10px 16px 4px 16px;">
            <div>
                <div class="offerPriceDiv">
                    <div style="float: left; width: 350px;">
                        <div class="offerPrice">92,44<span style="font-size: 20px"> €</span><div class="smaller"></div>
                        </div>
                        <div style="float: left; padding-top: 18px;"><span class="smaller">1 чел. с налогами/сборами</span></div>
                    </div>
                    <div class="priceTxt" style="padding-top: 13px;">
                        <div><span><a href="JavaScript:void(0);" onclick="openClose('more_sda366axat1t4rbebd1309d6dyla1v','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><span>общая сумма в деталях</span></a><a href="JavaScript:void(0);" onclick="openClose('more_sda366axat1t4rbebd1309d6dyla1v','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><img src="https://avia.lt/images/next.png" style="vertical-align: -7px;"></a></span></div>
                    </div>
                </div>
                <div style="clear: both; position: relative;">
                    <div id="more_sda366axat1t4rbebd1309d6dyla1v" style="display: none; position: relative; padding-top: 8px">
                        <div class="roundborder passengersPricesTable smaller">
                            <table border="0" cellpadding="2" width="100%" cellspacing="0" style="position: relative;">
                                <tr>
                                    <th align="center"><strong>пассажир</strong></th>
                                    <th align="center"><strong>Тариф</strong></th>
                                    <th align="center"><strong>Сборы</strong></th>
                                    <th align="center"><strong>Всего для пассажира</strong></th>
                                </tr>
                                <tr>
                                    <td height="1" colspan="4">
                                        <div style="border-top: 1px solid #DDDDDD; height: 1px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"><strong>Пассажир №: 1</strong> (взрослый)</td>
                                    <td align="center" id="passPr1-0-sda366axat1t4rbebd1309d6dyla1v"><span class="priceInCurr" initval="76">76,00</span>  <span class="currDisp">€</span></td>
                                    <td align="center"><span class="priceInCurr"><span class="priceInCurr" initval="16.44">16,44</span>  <span class="currDisp">€</span> (<em>0</em>)</span></td>
                                    <td align="center" id="passPr3-0-sda366axat1t4rbebd1309d6dyla1v"><strong><span class="priceInCurr" initval="92.44">92,44</span>  <span class="currDisp">€</span></strong></td>
                                </tr>
                                <script type="text/javascript">passPrices["sda366axat1t4rbebd1309d6dyla1v"] = [[76, 16.44]];</script>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="margin-top: 4px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                            <div style="margin-bottom: 6px;" align="right">
                                <img src="https://avia.lt/images/plane.gif" align="absmiddle">
                                11.7.2015</div>
                            <script type="text/javascript">
                                selOptions["sda366axat1t4rbebd1309d6dyla1v-out"] = "sda366axat1t4rbebd1309d6dyla1v-0-0";
                            </script>
                            <div id="segmentsda366axat1t4rbebd1309d6dyla1v_sda366axat1t4rbebd1309d6dyla1v-0-0" style="cursor: pointer;" onclick="setFlightOption('out','sda366axat1t4rbebd1309d6dyla1v-0-0','sda366axat1t4rbebd1309d6dyla1v');" class="roundborder segment segmentSelected sugmentMulti">
                                <div style="padding: 0 8px 0 8px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="24" align="center">
                                                <input name="out" type="radio" value="sda366axat1t4rbebd1309d6dyla1v-0-0" checked="checked">
                                            </td>
                                            <td align="center" valign="middle" width="96" class="dline_vert">
                                                <div style="margin-bottom: 4px;">
                                                    <img src="get_logo.php?airline=B2&size=60" title="Belavia" alt="Belavia"></div>
                                                <div class="small">B2 941</div>
                                                <div style="font-size: 11px;" align="center">только <strong style="color: #dd360a;">7 мест</strong></div>
                                            </td>
                                            <td valign="top" align="left" class="dline_vert" width="280">
                                                <div style="padding-left: 8px; width: 123px; float: left;">
                                                    <div class="offerTime">08:35</div>
                                                    <div class="small">отбытие</div>
                                                    <div class="offerCity">Минск</div>
                                                    <div class="small">Minsk International 2</div>
                                                </div>
                                                <div align="left" style="padding-left: 6px; width: 123px; float: left;">
                                                    <div class="offerTime">09:50</div>
                                                    <div class="small">прибытие</div>
                                                    <div class="offerCity">Saint Petersburg</div>
                                                    <div class="small">Pulkovo</div>
                                                </div>
                                            </td>
                                            <td width="176" align="left" valign="top" style="padding-left: 6px;" class="dline_vert">
                                                <div class="offerTime">1 ч 15 мин</div>
                                                <div class="small">Продолжительность</div>
                                                <div class="small" style="margin-top: 4px;">Без пересадок </div>
                                            </td>
                                            <td style="padding-left: 6px;" class="small">Включен регистрируемый багаж:<br>
                                                <strong>1 x 20 кг/чел.</strong><a href="javascript:void(0);" title="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."><img src="images/qm.png" border="0" alt="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div id="segmentsda366axat1t4rbebd1309d6dyla1v_sda366axat1t4rbebd1309d6dyla1v-0-1" style="cursor: pointer;" onclick="setFlightOption('out','sda366axat1t4rbebd1309d6dyla1v-0-1','sda366axat1t4rbebd1309d6dyla1v');" class="roundborder segment sugmentMulti">
                                <div style="padding: 0 8px 0 8px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="24" align="center">
                                                <input name="out" type="radio" value="sda366axat1t4rbebd1309d6dyla1v-0-1">
                                            </td>
                                            <td align="center" valign="middle" width="96" class="dline_vert">
                                                <div style="margin-bottom: 4px;">
                                                    <img src="get_logo.php?airline=B2&size=60" title="Belavia" alt="Belavia"></div>
                                                <div class="small">B2 945</div>
                                                <div style="font-size: 11px;" align="center">только <strong style="color: #dd360a;">7 мест</strong></div>
                                            </td>
                                            <td valign="top" align="left" class="dline_vert" width="280">
                                                <div style="padding-left: 8px; width: 123px; float: left;">
                                                    <div class="offerTime">17:35</div>
                                                    <div class="small">отбытие</div>
                                                    <div class="offerCity">Минск</div>
                                                    <div class="small">Minsk International 2</div>
                                                </div>
                                                <div align="left" style="padding-left: 6px; width: 123px; float: left;">
                                                    <div class="offerTime">18:50</div>
                                                    <div class="small">прибытие</div>
                                                    <div class="offerCity">Saint Petersburg</div>
                                                    <div class="small">Pulkovo</div>
                                                </div>
                                            </td>
                                            <td width="176" align="left" valign="top" style="padding-left: 6px;" class="dline_vert">
                                                <div class="offerTime">1 ч 15 мин</div>
                                                <div class="small">Продолжительность</div>
                                                <div class="small" style="margin-top: 4px;">Без пересадок </div>
                                            </td>
                                            <td style="padding-left: 6px;" class="small">Включен регистрируемый багаж:<br>
                                                <strong>1 x 20 кг/чел.</strong><a href="javascript:void(0);" title="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."><img src="images/qm.png" border="0" alt="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="payBefore">Оплатить до : <strong>12.6.2015, 19:00</strong> </div>
                <div style="float: right; position: relative; right: -14px;">
                    <div class="shareButton">
                        Поделиться
          <div align="center">
              <div class="emailShareForm" style="position: relative;"></div>
              <a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(0,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=7653jlbcvv7aqzt374knbfv6nutvzuc21xrz44pp');" title="Поделиться на Twitter">
                  <img src="images/share/twitter.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(1,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=7653jlbcvv7aqzt374knbfv6nutvzuc21xrz44pp');" title="Поделиться на Facebook"><img src="images/share/facebook.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(2,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=7653jlbcvv7aqzt374knbfv6nutvzuc21xrz44pp',this);" title="Поделиться через эл. почту"><img src="images/share/email.gif"></a>
          </div>
                    </div>
                    <div style="float: left;">
                        <div class="button" onclick="submitGroupedForm('sda366axat1t4rbebd1309d6dyla1v');" style="font-size: 18px;">Выбрать</div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <input type="hidden" name="fare_id" value="sda366axat1t4rbebd1309d6dyla1v">
        <input type="hidden" name="ltt" value="2015-06-12, 19:00">
    </form>

    <form name="mainform_03wg8pb7glbuzwxn7gireg8mix4wk" id="mainform_03wg8pb7glbuzwxn7gireg8mix4wk" method="post" action="flight_details/?session=" style="margin-bottom: 16px;">
        <div class="white_block" style="padding: 10px 16px 4px 16px;">
            <div>
                <div class="offerPriceDiv">
                    <div style="float: left; width: 350px;">
                        <div class="offerPrice">108,44<span style="font-size: 20px"> €</span><div class="smaller"></div>
                        </div>
                        <div style="float: left; padding-top: 18px;"><span class="smaller">1 чел. с налогами/сборами</span></div>
                    </div>
                    <div class="priceTxt" style="padding-top: 13px;">
                        <div><span><a href="JavaScript:void(0);" onclick="openClose('more_03wg8pb7glbuzwxn7gireg8mix4wk','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><span>общая сумма в деталях</span></a><a href="JavaScript:void(0);" onclick="openClose('more_03wg8pb7glbuzwxn7gireg8mix4wk','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><img src="https://avia.lt/images/next.png" style="vertical-align: -7px;"></a></span></div>
                    </div>
                </div>
                <div style="clear: both; position: relative;">
                    <div id="more_03wg8pb7glbuzwxn7gireg8mix4wk" style="display: none; position: relative; padding-top: 8px">
                        <div class="roundborder passengersPricesTable smaller">
                            <table border="0" cellpadding="2" width="100%" cellspacing="0" style="position: relative;">
                                <tr>
                                    <th align="center"><strong>пассажир</strong></th>
                                    <th align="center"><strong>Тариф</strong></th>
                                    <th align="center"><strong>Сборы</strong></th>
                                    <th align="center"><strong>Всего для пассажира</strong></th>
                                </tr>
                                <tr>
                                    <td height="1" colspan="4">
                                        <div style="border-top: 1px solid #DDDDDD; height: 1px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"><strong>Пассажир №: 1</strong> (взрослый)</td>
                                    <td align="center" id="passPr1-0-03wg8pb7glbuzwxn7gireg8mix4wk"><span class="priceInCurr" initval="92">92,00</span>  <span class="currDisp">€</span></td>
                                    <td align="center"><span class="priceInCurr"><span class="priceInCurr" initval="16.44">16,44</span>  <span class="currDisp">€</span> (<em>0</em>)</span></td>
                                    <td align="center" id="passPr3-0-03wg8pb7glbuzwxn7gireg8mix4wk"><strong><span class="priceInCurr" initval="108.44">108,44</span>  <span class="currDisp">€</span></strong></td>
                                </tr>
                                <script type="text/javascript">passPrices["03wg8pb7glbuzwxn7gireg8mix4wk"] = [[92, 16.44]];</script>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="margin-top: 4px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                            <div style="margin-bottom: 6px;" align="right">
                                <img src="https://avia.lt/images/plane.gif" align="absmiddle">
                                11.7.2015</div>
                            <div id="segment03wg8pb7glbuzwxn7gireg8mix4wk_03wg8pb7glbuzwxn7gireg8mix4wk-0-0" class="roundborder segment segmentSelected">
                                <div style="padding: 0 8px 0 8px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="24" align="center">
                                                <input name="outCheckBox" type="radio" disabled="disabled" checked="checked"><input type="hidden" name="out" value="03wg8pb7glbuzwxn7gireg8mix4wk-0-0">
                                            </td>
                                            <td align="center" valign="middle" width="96" class="dline_vert">
                                                <div style="margin-bottom: 4px;">
                                                    <img src="get_logo.php?airline=B2&size=60" title="Belavia" alt="Belavia"></div>
                                                <div class="small">B2 943</div>
                                                <div style="font-size: 11px;" align="center">только <strong style="color: #dd360a;">4 места</strong></div>
                                            </td>
                                            <td valign="top" align="left" class="dline_vert" width="280">
                                                <div style="padding-left: 8px; width: 123px; float: left;">
                                                    <div class="offerTime">22:55</div>
                                                    <div class="small">отбытие</div>
                                                    <div class="offerCity">Минск</div>
                                                    <div class="small">Minsk International 2</div>
                                                </div>
                                                <div align="left" style="padding-left: 6px; width: 123px; float: left;">
                                                    <div class="offerTime">00:10 <strong><span class="red smaller">(+1 д.)</span></strong></div>
                                                    <div class="small">прибытие</div>
                                                    <div class="offerCity">Saint Petersburg</div>
                                                    <div class="small">Pulkovo</div>
                                                </div>
                                            </td>
                                            <td width="176" align="left" valign="top" style="padding-left: 6px;" class="dline_vert">
                                                <div class="offerTime">1 ч 15 мин</div>
                                                <div class="small">Продолжительность</div>
                                                <div class="small" style="margin-top: 4px;">Без пересадок </div>
                                            </td>
                                            <td style="padding-left: 6px;" class="small">Включен регистрируемый багаж:<br>
                                                <strong>1 x 20 кг/чел.</strong><a href="javascript:void(0);" title="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."><img src="images/qm.png" border="0" alt="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="payBefore">Оплатить до : <strong>12.6.2015, 19:00</strong> </div>
                <div style="float: right; position: relative; right: -14px;">
                    <div class="shareButton">
                        Поделиться
          <div align="center">
              <div class="emailShareForm" style="position: relative;"></div>
              <a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(0,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=ajm29rab6ra823a85t56j4b1sux6zyogpe8mu6l');" title="Поделиться на Twitter">
                  <img src="images/share/twitter.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(1,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=ajm29rab6ra823a85t56j4b1sux6zyogpe8mu6l');" title="Поделиться на Facebook"><img src="images/share/facebook.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(2,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=ajm29rab6ra823a85t56j4b1sux6zyogpe8mu6l',this);" title="Поделиться через эл. почту"><img src="images/share/email.gif"></a>
          </div>
                    </div>
                    <div style="float: left;">
                        <div class="button" onclick="submitGroupedForm('03wg8pb7glbuzwxn7gireg8mix4wk');" style="font-size: 18px;">Выбрать</div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <input type="hidden" name="fare_id" value="03wg8pb7glbuzwxn7gireg8mix4wk">
        <input type="hidden" name="ltt" value="2015-06-12, 19:00">
    </form>

    <form name="mainform_1hnfkydec8lrdxtmalfrvxswifql" id="mainform_1hnfkydec8lrdxtmalfrvxswifql" method="post" action="flight_details/?session=" style="margin-bottom: 16px;">
        <div class="white_block" style="padding: 10px 16px 4px 16px;">
            <div>
                <div class="offerPriceDiv">
                    <div style="float: left; width: 350px;">
                        <div class="offerPrice">110,44<span style="font-size: 20px"> €</span><div class="smaller"></div>
                        </div>
                        <div style="float: left; padding-top: 18px;"><span class="smaller">1 чел. с налогами/сборами</span></div>
                    </div>
                    <div class="priceTxt" style="padding-top: 13px;">
                        <div><span><a href="JavaScript:void(0);" onclick="openClose('more_1hnfkydec8lrdxtmalfrvxswifql','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><span>общая сумма в деталях</span></a><a href="JavaScript:void(0);" onclick="openClose('more_1hnfkydec8lrdxtmalfrvxswifql','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><img src="https://avia.lt/images/next.png" style="vertical-align: -7px;"></a></span></div>
                    </div>
                </div>
                <div style="clear: both; position: relative;">
                    <div id="more_1hnfkydec8lrdxtmalfrvxswifql" style="display: none; position: relative; padding-top: 8px">
                        <div class="roundborder passengersPricesTable smaller">
                            <table border="0" cellpadding="2" width="100%" cellspacing="0" style="position: relative;">
                                <tr>
                                    <th align="center"><strong>пассажир</strong></th>
                                    <th align="center"><strong>Тариф</strong></th>
                                    <th align="center"><strong>Сборы</strong></th>
                                    <th align="center"><strong>Всего для пассажира</strong></th>
                                </tr>
                                <tr>
                                    <td height="1" colspan="4">
                                        <div style="border-top: 1px solid #DDDDDD; height: 1px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"><strong>Пассажир №: 1</strong> (взрослый)</td>
                                    <td align="center" id="passPr1-0-1hnfkydec8lrdxtmalfrvxswifql"><span class="priceInCurr" initval="73">73,00</span>  <span class="currDisp">€</span></td>
                                    <td align="center"><span class="priceInCurr"><span class="priceInCurr" initval="37.44">37,44</span>  <span class="currDisp">€</span> (<em>0</em>)</span></td>
                                    <td align="center" id="passPr3-0-1hnfkydec8lrdxtmalfrvxswifql"><strong><span class="priceInCurr" initval="110.44">110,44</span>  <span class="currDisp">€</span></strong></td>
                                </tr>
                                <script type="text/javascript">passPrices["1hnfkydec8lrdxtmalfrvxswifql"] = [[73, 37.44]];</script>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="margin-top: 4px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                            <div style="margin-bottom: 6px;" align="right">
                                <img src="https://avia.lt/images/plane.gif" align="absmiddle">
                                11.7.2015</div>
                            <div id="segment1hnfkydec8lrdxtmalfrvxswifql_1hnfkydec8lrdxtmalfrvxswifql-0-0" class="roundborder segment segmentSelected">
                                <div style="padding: 0 8px 0 8px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="24" align="center">
                                                <input name="outCheckBox" type="radio" disabled="disabled" checked="checked"><input type="hidden" name="out" value="1hnfkydec8lrdxtmalfrvxswifql-0-0">
                                            </td>
                                            <td align="center" valign="middle" width="96" class="dline_vert">
                                                <div style="margin-bottom: 4px;">
                                                    <img src="get_logo.php?airline=S7&size=60" title="S7 Airlines" alt="S7 Airlines"></div>
                                                <div class="small">S7 4506</div>
                                                <div style="font-size: 11px;" align="center">только <strong style="color: #dd360a;">4 места</strong></div>
                                            </td>
                                            <td valign="top" align="left" class="dline_vert" width="280">
                                                <div style="padding-left: 8px; width: 123px; float: left;">
                                                    <div class="offerTime">08:35</div>
                                                    <div class="small">отбытие</div>
                                                    <div class="offerCity">Минск</div>
                                                    <div class="small">Minsk International 2</div>
                                                </div>
                                                <div align="left" style="padding-left: 6px; width: 123px; float: left;">
                                                    <div class="offerTime">09:50</div>
                                                    <div class="small">прибытие</div>
                                                    <div class="offerCity">Saint Petersburg</div>
                                                    <div class="small">Pulkovo</div>
                                                </div>
                                            </td>
                                            <td width="176" align="left" valign="top" style="padding-left: 6px;" class="dline_vert">
                                                <div class="offerTime">1 ч 15 мин</div>
                                                <div class="small">Продолжительность</div>
                                                <div class="small" style="margin-top: 4px;">Без пересадок </div>
                                            </td>
                                            <td style="padding-left: 6px;" class="small">Включен регистрируемый багаж:<br>
                                                <strong>1 x 23 кг/чел.</strong><a href="javascript:void(0);" title="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."><img src="images/qm.png" border="0" alt="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="payBefore">Оплатить до : <strong>12.6.2015, 19:00</strong> </div>
                <div style="float: right; position: relative; right: -14px;">
                    <div class="shareButton">
                        Поделиться
          <div align="center">
              <div class="emailShareForm" style="position: relative;"></div>
              <a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(0,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=l2iif6h8gjhxr1tcdwxv8hm4twere3r3vlv4b');" title="Поделиться на Twitter">
                  <img src="images/share/twitter.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(1,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=l2iif6h8gjhxr1tcdwxv8hm4twere3r3vlv4b');" title="Поделиться на Facebook"><img src="images/share/facebook.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(2,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=l2iif6h8gjhxr1tcdwxv8hm4twere3r3vlv4b',this);" title="Поделиться через эл. почту"><img src="images/share/email.gif"></a>
          </div>
                    </div>
                    <div style="float: left;">
                        <div class="button" onclick="submitGroupedForm('1hnfkydec8lrdxtmalfrvxswifql');" style="font-size: 18px;">Выбрать</div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <input type="hidden" name="fare_id" value="1hnfkydec8lrdxtmalfrvxswifql">
        <input type="hidden" name="ltt" value="2015-06-12, 19:00">
    </form>

    <form name="mainform_p1q5i1z7dvdz8hv4g2vbm55t4tjtp" id="mainform_p1q5i1z7dvdz8hv4g2vbm55t4tjtp" method="post" action="flight_details/?session=" style="margin-bottom: 16px;">
        <div class="white_block" style="padding: 10px 16px 4px 16px;">
            <div>
                <div class="offerPriceDiv">
                    <div style="float: left; width: 350px;">
                        <div class="offerPrice">146,44<span style="font-size: 20px"> €</span><div class="smaller"></div>
                        </div>
                        <div style="float: left; padding-top: 18px;"><span class="smaller">1 чел. с налогами/сборами</span></div>
                    </div>
                    <div class="priceTxt" style="padding-top: 13px;">
                        <div><span><a href="JavaScript:void(0);" onclick="openClose('more_p1q5i1z7dvdz8hv4g2vbm55t4tjtp','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><span>общая сумма в деталях</span></a><a href="JavaScript:void(0);" onclick="openClose('more_p1q5i1z7dvdz8hv4g2vbm55t4tjtp','общая сумма в деталях', 'общая сумма в деталях',$(this),'','');"><img src="https://avia.lt/images/next.png" style="vertical-align: -7px;"></a></span></div>
                    </div>
                </div>
                <div style="clear: both; position: relative;">
                    <div id="more_p1q5i1z7dvdz8hv4g2vbm55t4tjtp" style="display: none; position: relative; padding-top: 8px">
                        <div class="roundborder passengersPricesTable smaller">
                            <table border="0" cellpadding="2" width="100%" cellspacing="0" style="position: relative;">
                                <tr>
                                    <th align="center"><strong>пассажир</strong></th>
                                    <th align="center"><strong>Тариф</strong></th>
                                    <th align="center"><strong>Сборы</strong></th>
                                    <th align="center"><strong>Всего для пассажира</strong></th>
                                </tr>
                                <tr>
                                    <td height="1" colspan="4">
                                        <div style="border-top: 1px solid #DDDDDD; height: 1px;"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"><strong>Пассажир №: 1</strong> (взрослый)</td>
                                    <td align="center" id="passPr1-0-p1q5i1z7dvdz8hv4g2vbm55t4tjtp"><span class="priceInCurr" initval="109">109,00</span>  <span class="currDisp">€</span></td>
                                    <td align="center"><span class="priceInCurr"><span class="priceInCurr" initval="37.44">37,44</span>  <span class="currDisp">€</span> (<em>0</em>)</span></td>
                                    <td align="center" id="passPr3-0-p1q5i1z7dvdz8hv4g2vbm55t4tjtp"><strong><span class="priceInCurr" initval="146.44">146,44</span>  <span class="currDisp">€</span></strong></td>
                                </tr>
                                <script type="text/javascript">passPrices["p1q5i1z7dvdz8hv4g2vbm55t4tjtp"] = [[109, 37.44]];</script>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div style="margin-top: 4px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td align="center">
                            <div style="margin-bottom: 6px;" align="right">
                                <img src="https://avia.lt/images/plane.gif" align="absmiddle">
                                11.7.2015</div>
                            <div id="segmentp1q5i1z7dvdz8hv4g2vbm55t4tjtp_p1q5i1z7dvdz8hv4g2vbm55t4tjtp-0-0" class="roundborder segment segmentSelected">
                                <div style="padding: 0 8px 0 8px;">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td width="24" align="center">
                                                <input name="outCheckBox" type="radio" disabled="disabled" checked="checked"><input type="hidden" name="out" value="p1q5i1z7dvdz8hv4g2vbm55t4tjtp-0-0">
                                            </td>
                                            <td align="center" valign="middle" width="96" class="dline_vert">
                                                <div style="margin-bottom: 4px;">
                                                    <img src="get_logo.php?airline=S7&size=60" title="S7 Airlines" alt="S7 Airlines"></div>
                                                <div class="small">S7 4510</div>
                                                <div style="font-size: 11px;" align="center">только <strong style="color: #dd360a;">4 места</strong></div>
                                            </td>
                                            <td valign="top" align="left" class="dline_vert" width="280">
                                                <div style="padding-left: 8px; width: 123px; float: left;">
                                                    <div class="offerTime">22:55</div>
                                                    <div class="small">отбытие</div>
                                                    <div class="offerCity">Минск</div>
                                                    <div class="small">Minsk International 2</div>
                                                </div>
                                                <div align="left" style="padding-left: 6px; width: 123px; float: left;">
                                                    <div class="offerTime">00:10 <strong><span class="red smaller">(+1 д.)</span></strong></div>
                                                    <div class="small">прибытие</div>
                                                    <div class="offerCity">Saint Petersburg</div>
                                                    <div class="small">Pulkovo</div>
                                                </div>
                                            </td>
                                            <td width="176" align="left" valign="top" style="padding-left: 6px;" class="dline_vert">
                                                <div class="offerTime">1 ч 15 мин</div>
                                                <div class="small">Продолжительность</div>
                                                <div class="small" style="margin-top: 4px;">Без пересадок </div>
                                            </td>
                                            <td style="padding-left: 6px;" class="small">Включен регистрируемый багаж:<br>
                                                <strong>1 x 23 кг/чел.</strong><a href="javascript:void(0);" title="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."><img src="images/qm.png" border="0" alt="Информация о багаже предварительная. Точная информация будет предоставлена в электронном билете."></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <div class="payBefore">Оплатить до : <strong>12.6.2015, 19:00</strong> </div>
                <div style="float: right; position: relative; right: -14px;">
                    <div class="shareButton">
                        Поделиться
          <div align="center">
              <div class="emailShareForm" style="position: relative;"></div>
              <a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(0,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=i98xr1jujerz5arsffdwb66app9wd8pexm63vrn');" title="Поделиться на Twitter">
                  <img src="images/share/twitter.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(1,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=i98xr1jujerz5arsffdwb66app9wd8pexm63vrn');" title="Поделиться на Facebook"><img src="images/share/facebook.gif"></a><a href="JavaScript:void(1);" onclick="JavaScript:shareOffer(2,'https://aviago.by/search_results/MSQ-LED/2015-07-11/?adults=1&cabin=none&airline=all&currency=EUR&direct=on&session=i98xr1jujerz5arsffdwb66app9wd8pexm63vrn',this);" title="Поделиться через эл. почту"><img src="images/share/email.gif"></a>
          </div>
                    </div>
                    <div style="float: left;">
                        <div class="button" onclick="submitGroupedForm('p1q5i1z7dvdz8hv4g2vbm55t4tjtp');" style="font-size: 18px;">Выбрать</div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <input type="hidden" name="fare_id" value="p1q5i1z7dvdz8hv4g2vbm55t4tjtp">
        <input type="hidden" name="ltt" value="2015-06-12, 19:00">
    </form>
    <script type="text/javascript">
        var passPricesArr = [];
        var allPricesArr = [["ze3fyj5j6hg1i6ww6xbgmmx06ih0", 65.44], ["sda366axat1t4rbebd1309d6dyla1v", 92.44], ["03wg8pb7glbuzwxn7gireg8mix4wk", 108.44], ["1hnfkydec8lrdxtmalfrvxswifql", 110.44], ["p1q5i1z7dvdz8hv4g2vbm55t4tjtp", 146.44]];
    </script>
    <script type="text/javascript">
        fromPrices = new Array();
        var journey = "oneway";

        function setFlightOption(option, val, key) {
            var elm = document.forms["mainform_" + key][option];
            if (!elm || !elm.length) return;
            selOptions[key + "-" + option] = val;
            for (var k = 0; k < elm.length; k++) {
                if (elm[k].value == val) {
                    $("#segment" + key + "_" + elm[k].value).addClass("segmentSelected");
                    elm[k].checked = true;
                } else {
                    $("#segment" + key + "_" + elm[k].value).removeClass("segmentSelected");
                }
                $(elm[k]).change();
            }
        }

        function submitGroupedForm(key) {
            //showWait();
            el("mainform_" + key).submit();
        }

        show("SRFilter");
        loadContent("includes/sr/filter.php?session=", "SRFilter", "SRFilter");
        try { vhide("filterCover"); } catch (e) { }
        $(".sugmentMulti").hover(function () { $(this).addClass("segmentOver"); }, function () { $(this).removeClass("segmentOver"); });
        hide("nooffersFound");
        setCoverSize();
        fixbtn();
        hideDialog("wait"); wrapSelect();
        $(document).ready(function (e) {
            cheapestPrice = 65.44;
            try { if (pricesTableLoaded) updateTablePrice(); } catch (e) { }
        });
    </script>
</div>
<script type="text/javascript">
    var from = 31;
    function moreResults() {
        $("#loadingMoreOffers").show();
        $.get("includes/sr/offers_list.php", "lng=lt&rid=&session=&last=true&from=0&from=" + from, function (data) {
            $("#searchResList").append(data);
            $("#loadingMoreOffers").hide();
        }, 'html');
        from += 31;
        if (from >= 5) $("#moreOffersBtn").hide();
    }
</script>
