﻿@model Tripplanner.Models.IndexModel
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>@Model.PageTitle</title>
        @Styles.Render("~/bundles/styles")
    </head>
    <body ng-app="app">
        <div class="container">
            <div ng-view></div>
        </div>
        @Scripts.Render("~/bundles/scripts")
    </body>
    <script type="text/ng-template" id="error-messages">
        @Html.Partial("ErrorMessages", Model.ErrorMessages)
    </script>
</html>