﻿<div class="form-group grid-centered" 
     ng-class="{ 'has-error': inputReference.$touched && inputReference.$invalid }">
    <label class="control-label">{{::label}}</label>
    <div ng-transclude></div>
    <div class="help-block"
         ng-messages="inputReference.$error"
         ng-show="inputReference.$touched && inputReference.$invalid">
        <div ng-messages-include="error-messages"></div>
    </div>
</div>