﻿<div class="text-center top-50" ng-show="isLoading">
    <i class="fa fa-refresh fa-spin fa-4x"></i>
</div>
<form name="tripRequirements" novalidate ng-hide="isLoading" class="top-50">
    <input-wrapper input-reference="tripRequirements.destinationPoint" label="Point of destination:">
        <input ng-model="model.DestinationPoint" type="text" class="form-control" name="destinationPoint"
               typeahead="city for city in cities | filter: $viewValue | limitTo: 10"
               required xss ng-maxlength="50" />
    </input-wrapper>
    <div class="grid-centered">
        <button class="btn btn-primary btn-block" type="submit" ng-disabled="isSubmitting" ng-click="planTrip(model)">Go</button>
    </div>
</form>
