﻿<div class="grid-centered">
    <label>Airline:</label>
    <div>{{ model.airline }}</div>
    <label>Departure Time:</label>
    <div>{{ model.departureTime }}</div>
    <label>Arrival Time:</label>
    <div>{{ model.arrivalTime }}</div>
    <label>Departure Airport Code:</label>
    <div>{{ model.departureAirportCode }}</div>
    <label>Arrival Airport Code:</label>
    <div>{{ model.arrivalAirportCode }}</div>
    <label>Cost:</label>
    <div>{{ model.cost }}</div>
    <label>Time in flight:</label>
    <div>{{ model.timeInFlight }}</div>
</div>